BETTER_CONTENT_DB_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/better_content
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/better_content_test
E2E_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/better_content_e2e_test

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

AVALAI_API_KEY=
AI_SAFETY_IDENTIFIER_SECRET=
